.chatbox {
    padding: 10px 30px;
    background-color: rgba(255, 255, 255, 0.5);
    &-input {
        width: 80%;
        margin: 0 15px;
        padding: 10px 20px;
        font-size: nth($fz, 2);
        border: 1px solid nth($fgray, 1);
        vertical-align: middle;
    }
    &-btn {
        vertical-align: middle;
        cursor: pointer;
        .iconfont {
            font-size: 22px;
            color: nth($fblack, 2);
        }
    }
    &-tip {
        display: none;
        text-align: center;
        font-size: nth($fz, 2);
        line-height: 38px;
        &-btn {
            font-size: nth($fz, 3);
            color: nth($fgreen, 1);
        }
    }
    &.active {
        .chatbox-content {
            display: none;
        }
        .chatbox-tip {
            display: block;
        }
    }
}
