.login-modal {
    width: 400px;
    padding: 20px;
    background-color: $fwhite;
    border-radius: 5px;
    &-head {
        border-bottom: 1px solid nth($fgray, 1);
        font-size: nth($fz, 3);
    }
    &-nav {
        text-align: center;
    }
    &-title {
        display: inline-block;
        padding: 15px 30px;
        &.active {
            color: nth($fgreen, 1);
            border-bottom: 2px solid currentColor;
        }
        &:hover {
            cursor: pointer;
        }
    }
    &-content {
        padding: 0 20px 20px 30px;
    }
    &-item {
        display: block;
        margin-top: 20px;
        margin-bottom: 5px;
        font-size: nth($fz, 2);
        color: nth($fblack, 2);
    }
    &-btn {
        display: block;
        width: 100%;
        margin-top: 20px;
        background-color: nth($fgreen, 1);
        color: $fwhite;
        line-height: 35px;
        border-radius: 5px;
    }
}
