.tabs {
    border-bottom: 1px solid nth($fgray, 1);
    &-center {
        text-align: center;
    }
    &-pane {
        display: inline-block;
        padding: 15px 30px;
        font-size: nth($fz, 3);
        &.active {
            color: nth($fgreen, 1);
            border-bottom: 2px solid currentColor;
        }
        &:hover {
            cursor: pointer;
        }
    }
    &-cont {
        &-active {
            display: none;
        }
    }
}

